############################
# STRAPI.JS IGNORES
############################
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

*~

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid

.tmp
*.log
*.sql
*.sqlite
*.sqlite3

*#
ssl
.idea
nbproject
public/uploads/*
!public/uploads/.gitkeep

lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

testApp
coverage

.env
license.txt
exports
*.cache
dist
build
.strapi-updater.json

############################
# NEST.JS IGNORES
############################
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.nyc_output

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

############################
# NEXT.JS IGNORES
############################
.pnp.js

.next/
out/

*.pem

.env*.local

.vercel

*.tsbuildinfo
next-env.d.ts
